.hidden {
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  .patient {
    .form-layout {
      width: 100%;
      margin: 30px auto;
      max-width: 1200px;
      text-align: center;
      input {
        background: #999;
        border: 1px solid #666;
        border-radius: 10px;
        color: #666;
        padding: 10px;
      }
    }
  }
  .overview {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    .title {
      background: #454545;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      padding: 30px 30px 30px 210px;
      .row {
        width: calc((100% - 30px) / 3);
      }
      p {
        display: inline-block;
        color: #FFF;
        font-size: 30px;
      }
    }
    .content {
      border: 1px solid black;
      background: #FFF;
      float: left;
      width: 100%;
      padding: 15px;
      .kube {
        position: relative;
        float: left;
        border: 2px solid #000;
        background: #666;
        text-align: center;
        a {
          color: #FFF;
          font-size: 90px;
          padding: 20px 50px;
          text-decoration: none;
        }
        a:hover {
          text-decoration: none;
        }
      }
      .detail {
        float: left;
        width: calc(100% - 169px);
        padding: 0 24px;
        .row {
          float: left;
          width: 33%;
        }
        p {
          min-height: 48px;
          font-size: 30px;
          color: #000;
          &.timer {

          }
          &.notification {
            color: red;
          }
        }
      }
    }
  }
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .modal-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    border: 1px solid #000;
    width: 95vh;
    height: 95vh;
    min-width: 1200px;
    margin: auto;
    border-radius: 30px;
    overflow: auto;
    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 12px;
      background-color: rgba(64,64,64,1);
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #454545;
    }
    .row {
      width: 20%;
      padding: 20px;
      float: left;
      div {
        display: inline-block;
      }
      &.kolumn {
        background: #454545;
        color: #fff;
        font-size: 30px;
      }
      .radiobutton {
        float: left;
        border: 5px solid #666;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #999;
        &.checked {
          background: #555;
          border: 5px solid #999;
        }
      }
      .number {
        font-size: 30px;
      }
      .status {
        width: 10px;
        height: 20px;
        &.green {
          background: green;
        }
        &.red {
          background: red;
        }
        &.orange {
          background: orange;
        }
      }
    }
    .kolumn:nth-child(5){
      border-top-right-radius: 30px;
    }
    .kolumn:first-of-type {
      border-top-left-radius: 30px;
    }
  }
}

.form-layout {
  .group {
    &.full-width {
      width: 100%;
    }
    &.right {
      float: right;
    }
    &.options {
      input {
        float: left;
        width: calc(50% - 30px);
        margin: 15px;
        &.btn {
          color: #FFF;
        }
        &.btn-send {
          background: green;
        }
        &.btn-cancel {
          background: red;
        }
      }
      .btn-send:hover {
        background: lighten(green, 10%);
      }
      .btn-cancel:hover {
        background: lighten(red, 10%);
      }
    }
    width: calc(100% / 3);
    float: left;
    padding: 30px;
    label {
      margin-left: 10px;
      margin-bottom: 15px;
      float: left;
      width: 100%;
    }
    select,
    textarea,
    input {
      width: 100%;
      border: 2px solid #454545;
      background: #999;
      color: #454545;
      font-size: 20px;
      border-radius: 15px;
      padding: 10px;
    }
    input {
      &.split1_3 {
        width: calc(((100% / 3)*1) - 10px);
      }
      &.split2_3 {
        width: calc(((100% / 3)*2) - 10px);
      }
    }
  }
}
